$bg-basic-90: #222435;
$bg-basic-80: #383A4C;
$bg-basic-70: #535568;
$bg-basic-40: #9799AD;

$bg-label: #1E446E;
$label-color: #4EA2FF;

$text-active: #FFFFFF;
$text-input: #fafafd;
$text: #535568;

$cross: #9747ff;

$font: 'Inter', sans-serif;
